html
    head
        title Express app
        link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css" rel="stylesheet" )
    body
        include ../components/header.pug
        .container
            .row
                .col-3
                    br
                    block content
